<div class="row py-3">
  <div class="col-12 text-align-center">
    <h1>Configuration</h1>
  </div>
</div>
<hr>
<div class="row py-3">
  <div class="col-12">
    <h4>Votre adresse</h4>
    <app-gmap-auto-complete [title]="'Saisissez l\'adresse de votre domicile ou lieu de rencontre'"
                            [(location)]="this.w.data().settings.userHome">
    </app-gmap-auto-complete>
  </div>
</div>
<div class="row py-3">
  <div class="col-12">
    <h4>Lieu de travail</h4>
    <app-city-site-building-setter [displaySaveButton]="false">
    </app-city-site-building-setter>
  </div>
</div>
<!--  <div class="row py-3" *ngIf="this.check_driver">
    <div class="col-12">
      <h4>Votre véhicule</h4>
      <app-car-seat-config ></app-car-seat-config>
    </div>
  </div>-->
<div class="row">
  <div class="col-12 text-align-center" style="color: darkred;">
    {{this.erreur}}
  </div>
</div>
<hr>
<div class="row py-3">
  <div class="col-12 text-align-center">
    <app-button
      [filled]="true"
      [actif]="this.stillWorking()"
      (callback)="this.save()"
    >Enregistrer
    </app-button>
  </div>
</div>
