<p>location : {{window.location.href}}</p>
<router-outlet></router-outlet>


<ng-container *ngIf="this.cw.data().auth.apiLoginData">ONLINE</ng-container>
<ng-container *ngIf="!this.cw.data().auth.apiLoginData">OFFLINE</ng-container>
<br>

<h4>token:</h4>
<ng-container *ngIf="this.token">
  <pre>
  {{ this.token | json}}
</pre>
</ng-container>
<ng-container *ngIf="this.error">
  <pre>
  {{ this.error | json}}
</pre>
</ng-container>

<h4>context:</h4>
<ng-container *ngIf="this.context">
<pre>
  {{ this.context | json}}
</pre>
</ng-container>
