/* You can add global styles to this file, and also import other style files */


.text-align-center{
  text-align: center;
}

.text-align-right{
  text-align: right;
}

.text-align-left{
  text-align: left;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
