<div class="row">
  <div class="col" style="background-color: #0a4ab1; color: white;">
    <h3>+ Créer un trajet</h3>


    <pre>
- où allez vous ?
||
- Quel est le type de vvotre trajet ?
||
- Vous serez ?
||
- Quand souhaitez vous partir ?
||
- Quelles sont vos horaires ?
    </pre>


  </div>
  <div class="col">
    <br>
    <br>
    <br>
    <h1>Quelles sont vos horaires</h1>
  </div>
</div>
<div class="row">
  <div class="col text-align-right">
    <app-navigation-button [target]="'trajets'" [borderradius]="'0'">annuler</app-navigation-button>
    <app-navigation-button [target]="'trajets'" [filled]="true" [borderradius]="'0'">Suivant</app-navigation-button>
  </div>
</div>
